/* 컨트롤+b 누르면 파일 목록 켜짐 */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  margin: 0;
  width: 650px;
  margin: 0 auto;
  
}

#logoimg {
  width: 104px;
  margin: 68px 0px 0px;
}

hr {
  border: solid 1px #000000;
}

#gr1{
  margin-left: 48px;
  margin-right: auto;
  margin-bottom: 24px;
}

#menu {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  white-space:50px;
  margin: 24px 0;
}

.menuspace {
  margin: 0 10px;
}

#maintitle {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin: 40px 0 0;
}

#date {
  font-size: 16px;
  font-weight: 600;
  color:#000000;
  margin: 8px 0px;
}

#gr2 {
  white-space: nowrap;
  /* overflow: scroll; */
}

.imglist {
  height: 194px;
}

#gr3 {
  display: inline-block;
  color:#ffffff;
  font-size: 16px;
  background-color: #000000;
  padding: 12px 24px;
  margin-left: 48px;
  margin-top: 24px;
  text-decoration: none;

}

#gr4{
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 72px;
}

#placetitle {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
}

#placetext {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 36px;
  /* line-height: 1.8em; */
}

#spaceimg {
  /* margin-top: 24px ; */
  width: 100%;
  margin: 0 auto;
}