.gnb {
  border-bottom: 1px solid #dddddd;
}

#logo {
  height: 20px;
}

ul.menu {
  display: inline-block;
  list-style: none;
  font-weight: 600px;
}

ul.menu > li {
  margin: 16px;
  display: inline-block;
}

.gnb,
.main {
  padding: 16px;
}
