* {
  box-sizing: border-box;
}

html {
  word-break: keep-all;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  line-height: 19px;
}

body {
  background-color: #000;
  color: #d9d9d9;
  margin: 0;
}

section {
  max-width: 1120px;
  width: 100%;
  margin: 80px auto;
  padding: 0 36px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin: 40px 0;
}

.playlists {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.playlist {
  width: 240px;
}

.playlist-thumb {
  width: 100%;
  border-radius: 16px;
}

.playlist-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 16px 0 8px;
}

.playlist-artist {
  color: #868686;
  margin: 0;
}
