body {
  background: #f3f3f3;
  font-family: Poppins, 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

#titleGoodquote {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

#forMotivation {
  color: #818181;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.quotes {
  background: #ffffff;
  margin: 24px auto;
  padding: 24px;
  width: 320px;
}

.name {
  color: #818181;
  font-size: 12px;
  font-weight: 400;
}